
html,body {
	padding:0; 
	height: 900px; 
	width: 100%;
	border:0; 
	/*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
	font-family: Verdana, Helvetica, sans-serif; 
	/*background-color: #e6f2ff;*/
	background-color: #fff;
} 

/* HEADER */

#pre-header-links{
	background-color: #401e68;
	padding:30px 220px 10px 0;

}

#pre-header { 
	margin: 0px; 
	text-align:right; 
	font:12px Verdana, Helvetica, sans-serif;
	text-shadow:0 -1px 1px rgba(0,0,0,.5); 
	background-color: #4e2a84; 
	height: 20%;
	width: 100%;

}	
	#pre-header a:link, #pre-header a:visited {	
	color:white; 
	text-decoration:none;
	margin-left:10px; 
	}

	#pre-header a:hover {
		color:#ffffcc;	
	} 

#header {
	border:0px ;
	background:#4e2a84;
}

#logo {
	float:left;
	width:400px;
	padding-top: 60px;	
	padding-left: 170px; 
	text-align:left;
}

#header-txt {
	float:right;
	width:40%;
	margin:20px 200px 20px 0;
	color:white;
	text-align:left;
	padding-bottom:5px;
	font-size:14px;
	line-height:130%;
}

#ds {
	height:10%;
	position: relative;
	padding-right: 220px; 
}

.social-top {
	float:right;
	width:25px;
	margin:10px 0 0 0;
}
h1{
	font-weight: 500;
	font-size: 27px;  
}
/*END HEADER*/


#chart_div {
	display: block;
}
#container {
	background-image: url("/img/Buttonmap.png");
	height: 1296px; 
	background-repeat: no-repeat;
	width: 70%; 
	margin-right: 15%; 
	margin-left: 15%; 
	padding-top: 20px; 
}
#select-alt {
	width: 50%;
	height: 25px;
	font-size: 14px;
}

#freeze {
	position: fixed;
	width: 100%;
	background-color: #fff; 
	border: 0px; 
	margin: 0px;
}


#element1 {
display: inline; 
margin-right: 10px; 

}
#element2 {
display: inline-table;

}

#circle {
	background-image: url("/img/square.png");
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	color: white; 
	height: 250px; 
	width: 200px; 	
}


#elder {
	float: right;
	margin-top: 20px; 
	margin-right: 200px;  
}

#sargent {
	margin-top: 300px; 
	float: right; 

}
#plex1 {
	width: 10%; 
	margin-left: 50px; 
	margin-top: 380px; 

}
#plex2 {
	width: 10%; 
	margin-right: 30px;
	margin-top: 380px; 

}


#willard {
	margin-left: 360px;
	margin-top: 350px; 
}

#hinman {
	float: right; 
	margin-right: 90px; 
	margin-top: 50px; 
}

#allison {
	margin-top: 300px;
	margin-left: 90px;  
}

#container button {
	background-color: #4e2a84; 
	border-radius: 25px; 
	width: 20%;  
	min-height: 70px; 
	font-size: 24px;
	color: white; 
	font-weight: bold;
}
table {
	text-align: center; 
	padding: 20px;
	padding-right: 10%; 
	padding-left: 10%;  
	width: 100% ;

}

 button {
	background-color: #4e2a84; 
	border-radius: 25px; 
	min-height: 70px; 
	font-size: 24px;
	color: white; 
	font-weight: bold;
}

.page-heading {
	text-align: center;
	vertical-align: middle;
}

.top-bar {
	height: 75px;
	width: 85%;
	margin-left: 16%;
	margin-top: 2%;
	background-color: #fff;
	display:flex;
    align-items: center;
    justify-content: center;
 
}


#chart_div {
	display: block;
}